<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/employee.css}" rel = "stylesheet"/>
    <title>Fiche Employee</title>
</head>
<body>
<div class="mainBody" th:object="${employee}">
    <div>
        <h1>Fiche d'Information sur l'Employee</h1>
    <div>
        <img th:src="@{'/formEmployee/image/'+*{id}}" alt="Aucune image">
    </div>
    </div>
    <div className="emplInfo">
        <table >
            <tr>
                <td><label th:text="Name" /></td>
                <td>
                    <p th:text="*{name}" />
                </td>
            </tr>
            <tr>
                <td><label th:text="lastName" /></td>
                <td>
                    <p th:text="*{lastName}" />
                </td>
            </tr>
            <tr>
                <td><label th:text="birthDate" /></td>
                <td>
                    <p th:text="*{birthDate}" />
                </td>
            </tr>
            <tr>
                <td><label th:text="Matricule" /></td>
                <td>
                    <p th:text="*{matricule}" />
                </td>
            </tr>
        </table>
    </div>
    <div th:object="${employee}">
        <a th:href="@{/updateEmployee/{matricule}(matricule=${employee.matricule})}">Update information</a>
    </div>
</div>
</body>
</html>