<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/form.css}" rel = "stylesheet"/>
    <title>Creating an employee</title>
</head>
<body>
        <div class="mainBody">
                <h4>Create a new employee</h4>
                <form action="#" th:action="@{/saveEmployee}" method="post" enctype="multipart/form-data">
                        <label th:text="FirstName"/>
                        <input type="text" name="name" />

                        <label th:text="LastName"/>
                        <input type="text" name="lastName" />

                        <label th:text="BirthDate"/>
                        <input type="date" name="birthDate"/>

                        <label th:text="Matricule"/>
                        <input type="text" name="matricule"/>

                        <label th:text="Image"/></td>
                        <input type="file" name="testImg"/>

                        <input type="submit" value="Submit" class="btnSubmit"/>
                </form>
        </div>
</body>
</html>