<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test HTMl</title>
</head>
<body>
        <form action="#" th:action="@{/saveEmployee}" method="post" enctype="multipart/form-data">
            <table>
                <tr>
                    <td> <label th:text="FirstName"/></td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr>
                    <td> <label th:text="LastName"/></td>
                    <td><input type="text" name="lastName" /></td>
                </tr>
                <tr>
                    <td> <label th:text="BirthDate"/></td>
                    <td><input type="date" name="birthDate"/></td>
                </tr>
                <tr>
                    <td> <label th:text="Matricule"/></td>
                    <td><input type="text" name="matricule"/></td>
                </tr>
                <tr>
                    <td> <label th:text="Image"/></td>
                    <td><input type="file" name="testImg"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" /></td>
                </tr>
            </table>
        </form>
</body>
</html>