<!DOCTYPE html>
<html>
<head>
    <meta charset = "ISO-8859-1" />
    <link th:href="@{/styles/index.css}" rel = "stylesheet"/>
    <title>Employees</title>
</head>
<body>
<div class="mainBody">
    <h4>Employee's Exercice</h4>
    <div class="firstPart">
        <a class="goCreate" href="http://localhost:8080/form">Create an employee</a>
    </div>
    <form>
        <input type="text" name="" class="search">
        <button class="btnSearch">Search</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Date</th>
            <th>Matricule</th>
            <th>Gender</th>
            <th>Csp</th>
            <th>Address</th>
            <th>Email Professionel</th>
            <th>Email Personnel</th>
            <th>Fonction</th>
            <th>Nombre d'Enfants</th>
            <th>Employement Date</th>
            <th>Departure Date</th>
            <th>Cnaps</th>
            <th>Phone Number</th>
            <th>CIN</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.firstName}" />
                <td th:text="${employee.lastName}" />
                <td th:text="${employee.birthDate}" />
                <td th:text="${employee.matricule}" />
                <td th:text="${employee.sex}" />
                <td th:text="${employee.csp}" />
                <td th:text="${employee.address}" />
                <td th:text="${employee.emailPro}" />
                <td th:text="${employee.emailPerso}" />
                <td th:text="${employee.role}" />
                <td th:text="${employee.child}" />
                <td th:text="${employee.employementDate}" />
                <td th:text="${employee.departureDate}" />
                <td th:text="${employee.cnaps}" />
                <td>
                    <ul>
                        <li th:each="test : ${employee.phones}" th:text="${test.phoneNumber}"></li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li th:text="${employee.cin.cinNumber}"></li>
                        <li th:text="${employee.cin.issueDate}"></li>
                        <li th:text="${employee.cin.issueLocation}"></li>
                    </ul>
                </td>
                <td>
                    <a th:href="@{/formEmployee/{matricule}(matricule=${employee.matricule})}" class="cheking">Check</a>
                    <button class="deleting">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>