<!DOCTYPE html>
<html>
<head>
    <meta charset = "ISO-8859-1" />
    <link th:href="@{/styles/index.css}" rel = "stylesheet"/>
    <title>Employees</title>
</head>
<body>
<div class="mainBody">
    <h4>Employee's Exercice</h4>
    <div class="firstPart">
        <a class="goCreate" href="http://localhost:8080/form">Create an employee</a>
    </div>
    <form>
        <input type="text" name="" class="search">
        <button class="btnSearch">Search</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth Date</th>
            <th>Matricule</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.name}" />
                <td th:text="${employee.lastName}" />
                <td th:text="${employee.birthDate}" />
                <td th:text="${employee.matricule}" />
                <td>
                    <a th:href="@{/formEmployee/{matricule}(matricule=${employee.matricule})}" class="cheking">Check</a>
                    <button class="deleting">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>