<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/update.css}" rel = "stylesheet"/>
    <title>Update Employee</title>
</head>
<body>
    <div class="mainBody" th:object="${employee}">
        <h4>Update Information</h4>
        <a class="goUpdate" th:href="@{/formEmployee/{matricule}(matricule=${employee.matricule})}">Return to employee's information</a>
        <form action="#" th:action="@{/updateEmp/{matricule}(matricule=${employee.matricule})}"  method="post" enctype="multipart/form-data">
            <label th:text="FirstName"/>
            <input type="text" name="name" th:placeholder="*{firstName}"/>

            <label th:text="LastName"/>
            <input type="text" name="lastName" th:placeholder="*{lastName}"/>

            <label th:text="BirthDate"/>
            <input type="date" name="birthDate" th:placeholder="*{birthDate}"/>

            <label th:text="Image"/>
            <input type="file" name="Img"/>

            <input type="submit" value="Submit" class="btnSubmit"/></td>
        </form>
    </div>
</body>
</html>